<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Browser" value="Chrome"/>
    <add key="NDTVurl" value="https://NDTV.com" />
    <add key="Chrome" value="C:\\Program Files (x86)\\Google\\Chrome\\Application\\chrome.exe"/>
    <add key="ChromeDriver" value="C:\Users\i4uj\Downloads\download2\chromedriver_win32"/>
    <add key="EndPoint" value="https://api.openweathermap.org/data/2.5/"/>
    <add key="TempVariance" value="5"/>
    <add key="HumidityVariance" value="40"/>
    <add key="LogDirectory" value="C:\Users\i4uj\Documents\Swathi\Automation\WeatherReporting\TestResults\"/>
  </appSettings>
</configuration>