<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Browser" value="Chrome"/>
    <add key="NDTVurl" value="https://NDTV.com" />
    <add key="Chrome" value="C:\\Program Files (x86)\\Google\\Chrome\\Application\\chrome.exe"/>
    <add key="ChromeDriver" value="C:\Users\i4uj\Downloads\download2\chromedriver_win32"/>
  </appSettings>
</configuration>